{% extends 'base.html' %}

{% block title %}Editar Club{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center">Editar Club: {{ club.nombre }}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            <a href="{% url 'lista_clubes' %}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}