{% extends 'base.html' %}

{% block content %}
<h2>Miembros del Club: {{ club.nombre }}</h2>
<table class="table">
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Rol</th>
            <th>Fecha de Unión</th>
        </tr>
    </thead>
    <tbody>
        {% for miembro in miembros %}
        <tr>
            <td>{{ miembro.usuario.username }}</td>
            <td>{{ miembro.get_rol_display }}</td>
            <td>{{ miembro.fecha_union }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'detalle_club' club.id %}" class="btn btn-secondary">Volver al Club</a>
{% endblock %}